
.Pborder {
    border: #BBDEFB 1px solid;
}

.Pletra{
    font-size: 1.2rem !important;
}
.footer-text{
  font-size: .8rem !important;
  padding-right:2rem !important;
}
#Ptable table thead tr th {
    background: #BBDEFB;
  }

#Ptable table tbody tr td {
    padding:  .3em 0 .3em 0 ;
    text-align: center!important;
}



/* overwrite */
.v-data-footer__icons-before,.v-data-footer__icons-after{
  display:none !important;
}
.v-pagination{
  align-items: start !important;
  display: inline-flex;
  list-style-type: none;
  justify-content: start !important;
  margin: 0;
  max-width: 100%;
  width: 100%;
}

.v-btn__content {
  align-items: center!important;
  color: inherit!important;
  display: flex!important;
  flex: 1 0 auto!important;
  justify-content: unset !important;
  line-height: normal!important;
  position: relative!important;
  transition: inherit!important;
  transition-property: opacity!important;
}
